asgiref==3.4.1
async-timeout==4.0.3
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.0.12
click==8.1.8
Django==3.2.16
django-utils-six==2.0
django-webpack-loader==1.6.0
djangorestframework==3.14.0
exceptiongroup==1.2.2
gunicorn==19.7.1
h11==0.14.0
idna==3.4
iniconfig==2.0.0
packaging==24.2
pluggy==1.5.0
pydash==7.0.6
pytest==8.3.4
pytest-django==4.10.0
pytz==2022.2.1
redis==5.0.5
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.3
tomli==2.2.1
tqdm==4.66.1
typing-extensions==4.1.1
tzdata==2022.4
urllib3==1.26.14
uvicorn==0.33.0
whitenoise==3.3.1
