.all-time-background{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.all-time-main-container{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.all-time-main-title{
    font-size: 40px;
}
.all-time-options{
    display: flex;
    margin: 50px 0;
    width: 100%;
}
.all-time-options-column-1 {
    margin: 0 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 4);
}
.all-time-options-column-1 .all-time-option-box{
    margin: 0 0 20px 0;
    width: 100%;
}
.all-time-option-box{
    margin: 0 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 4);
}
.all-time-option-box:nth-last-child(1){
    margin-right: 0;
}
.all-time-option-box-text{
    margin: 0 0 15px 0;
}
.all-time-option-box-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-time-option-box-component .css-4jnixx-MuiStack-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-time-option-box-component .css-4jnixx-MuiStack-root>:not(style)~:not(style) {
    margin-left: 0;
}
.all-time-option-box-component .css-z3c6am-MuiFormControl-root-MuiTextField-root:nth-child(1) {
    margin-bottom: 20px;
}
.all-time-main-button{
    background-color: lightsteelblue;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 2px 2px 2px 2px #484848;
    user-select: none;
}
.all-time-main-button:hover{
    cursor: pointer;
    background-color: rgb(187, 202, 222);
}
.all-time-main-button:active{
    cursor: pointer;
    background-color: rgb(187, 202, 222);
    transform: translate(3px, 3px);
    box-shadow: 1px 1px 1px 1px #a9a9a9;
}
.all-time-charts{
    margin: 50px 0 0 0;
    display: flex;
    width: 100%;
    padding: 0 0 50px 0;
}
.all-time-chart-box{
    margin: 0 70px 0 0;
}
.all-time-chart-box:nth-last-child(1){
    margin-right: 0px;
}
.all-time-chart-box-info{

}
.all-time-chart-box-info-photo{
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
    background-position: center;
}
.all-time-chart-box-info-text{
    text-align: center;
    margin: 10px 0 0 0;
    height: 35px;
}
.all-time-chart-details{
    margin: 20px 0 0 0;
    height: 200px;
    width: 100%;
}
.all-time-option-box-component-nationality-item {
    display: flex;
}
.all-time-option-box-component-nationality-item img{
    width: 30px;
    object-fit: contain;
    height: 24px;
}
.all-time-option-box-component-nationality-item-text {
    margin: 0 0 0 8px;
}
.all-time-option-box-component .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin: 0 0 15px 0;
}
.barchart-background{
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}
.barchart-bars{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 85%;
}
.barchart-bar-details{
    margin: 0 5px 0 0;
    width: 100%;
}
.barchart-bar-details:nth-child(1){
    background-color: rgb(244, 117, 96);
}
.barchart-bar-details:nth-child(2){
    background-color: rgb(232, 168, 56);
}
.barchart-bar-details:nth-child(3){
    background-color: rgb(97, 205, 187);
}
.barchart-bar-details:nth-child(4){
    background-color: rgb(232, 193, 160);
    margin-right: 0;
}
.barchart-bar-details:hover, .all-time-chart-label-details:hover{
    cursor: pointer;
    opacity: 0.8;
}
.all-time-chart-labels{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}
.all-time-chart-label-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px 0 0;
}
.all-time-chart-label-details:nth-child(1) .all-time-chart-label-details-box{
    background-color: rgb(244, 117, 96);
}
.all-time-chart-label-details:nth-child(2) .all-time-chart-label-details-box{
    background-color: rgb(232, 168, 56);
}
.all-time-chart-label-details:nth-child(3) .all-time-chart-label-details-box{
    background-color: rgb(97, 205, 187);
}
.all-time-chart-label-details:nth-child(4) .all-time-chart-label-details-box{
    background-color: rgb(232, 193, 160);
}
.all-time-chart-label-details-box{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
.all-time-chart-label-details-text{
    font-size: 17px;
    font-size: 19px;
}
.barchart-lines-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.barchart-line-details{
    height: 1px;
    background-color: rgba(0,0,0,0.3);
}
.barchart-line {
    position: relative;
}
.barchart-line-number {
    position: absolute;
    top: -5px;
    left: -25px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
