.home-desktop-container {

}
.home-desktop-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.home-desktop-menu-item {
    color: white;
    margin: 60px 40px 0 0;
    font-weight: normal;
    padding: 10px 30px;
    border-radius: 2px;
    border: 1px solid white;
}
.home-desktop-card {
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
}
.home-desktop-card:hover {
    padding: 40px;
    transition: all 0.5s ease-in-out;
}
.home-desktop-card:nth-child(3){
    margin-top: 0px;
}
.home-desktop-card .image-component-container{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-desktop-card:hover .image-component-container{
    box-sizing: border-box;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    box-shadow: -5px 5px 70px 40px rgba(0, 0, 0, 0.5);
}
.home-desktop-card:hover {

}
.home-desktop-card-opacity {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.8) 10%,rgba(0,0,0,0) 76%);
    width: 100%;
    height: 100%;
    position: absolute;
}
.home-desktop-card-text {
    position: absolute;
    text-align: center;
    z-index: 1;
}
.home-desktop-card-title {
    color: white;
    text-shadow: 0 0 25px rgba(0,0,0,.7);
    line-height: 1.1;
    font-size: 50px;
    font-family: Sentinel A,Sentinel B;
    font-weight: 600;
    font-style: normal;
}
.home-desktop-card-subtitle {
    color: white;
    text-shadow: 0 0 25px rgba(0,0,0,.7);
    line-height: 1.1;
    font-size: 26px;
    font-family: Sentinel A,Sentinel B;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.home-desktop-card:hover,
.home-desktop-menu:hover {
    cursor: pointer;
}
.home-desktop-first-card {
    height: calc(100vh - 40px);
    padding-bottom: 0px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home-desktop-first-card:hover {
    cursor: default;
}