.pilots-desktop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pilots-desktop-photos-list {
    position: fixed;
    top: 0px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pilots-desktop-photo-card {
    max-width: 200px;
    margin: 30px 0 0px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.pilots-desktop-photo-card img{
    width: 100%;
    object-fit: cover;
    height: 80px;
}
.pilots-desktop-photo-card .css-1869usk-MuiFormControl-root {
    margin: 0px;
    width: 100%;
    margin-top: -4px;
}
.pilots-desktop-chart {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 230px);
    margin: 0 0 0 230px;
    background-color: red;
}
.pilots-desktop-menu {
    position: fixed;
    top: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.pilots-desktop-menu-button {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: gainsboro;
}