name: Cypress E2E Tests

on:
  push:
    branches: [ main ]
  pull_request: 
    types: [opened, synchronize]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: buildx-${{ github.sha }}
        restore-keys: |
          buildx-

    - name: Build Docker image with cache
      id: build_image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile-live
        tags: formula1charts:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache

    - name: Start Django server in Docker container
      run: |
        docker images
        docker run -d --name formula1charts-test -p 8000:8000 --env DJANGO_SETTINGS_MODULE=formula1charts.settings ${{ steps.build_image.outputs.image }}

    - name: Wait for Django server in container
      run: |
        echo "Waiting for Django server in container..."
        timeout 60 bash -c 'until curl -f http://127.0.0.1:8000; do sleep 2; done'
        echo "Django server is ready!"


    - name: Run Cypress tests inside container
      run: |
        docker exec formula1charts-test npx cypress run --browser chrome --spec cypress/e2e/test_pages.cy.js --config baseUrl=http://127.0.0.1:8000

    - name: Trigger Vercel Deploy
      run: |
        curl -X POST https://api.vercel.com/v1/integrations/deploy/${{secrets.VERCEL_DEPLOY_HOOK}}

    - name: Cleanup Docker container
      if: always()
      run: |
        docker stop formula1charts-test || true
        docker rm formula1charts-test || true