name: Cypress E2E Tests

on:
  push:
    branches: [ main ]
  pull_request: 
    types: [opened, synchronize]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: buildx-${{ github.sha }}
        restore-keys: |
          buildx-

    - name: Build Docker image with cache
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile-live
        tags: formula1charts
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache

    - name: Run Cypress tests in Docker container
      container:
        image: formula1charts
        options: --name formula1charts-test -p 8000:8000
      run: |
        # Start the Django application in the background
        gunicorn formula1charts.wsgi:application --bind 0.0.0.0:8000 &
        # Wait for the application to be ready
        sleep 10
        # Install Cypress dependencies
        apt-get update && apt-get install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xdg-utils wget
        # Install Cypress
        npm install cypress
        # Run Cypress tests
        npx cypress run --config baseUrl=http://localhost:8000

    - name: Trigger Vercel Deploy
      run: |
        curl -X POST https://api.vercel.com/v1/integrations/deploy/${{secrets.VERCEL_DEPLOY_HOOK}}

    - name: Cleanup Docker container
      if: always()
      run: |
        docker stop formula1charts-test || true
        docker rm formula1charts-test || true